.flex,
.start-wrapper .start-content,
.start-wrapper .start-content .form .tabs,
.start-wrapper .start-content .form form .form-group:last-of-type {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1em;
	line-height: inherit;
}

body {
	font-family: 'Verdana',sans-serif;
}

.width {
	max-width: 1190px;
	margin: 0 auto;
}

.start-wrapper {
	background: url(/images/start-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 100vh;
	padding-top: 30px;
}

.start-wrapper .site-login .logo {
	display: inline-block;
	padding: 0 20px;
}

.start-wrapper .start-content {
	margin-top: 187px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.start-wrapper .start-content .description {
	color: #fff;
	width: 56.3%;
	padding: 0 20px;
}

.start-wrapper .start-content .description h1 {
	padding-left: 60px;
}

.start-wrapper .start-content .description span,
.start-wrapper .start-content .form form.active {
	display: block;
}

.start-wrapper .start-content .description span:first-of-type {
	font-weight: 700;
	font-size: 62px;
	position: relative;
}

.start-wrapper .start-content .description span:first-of-type:before {
	content: '';
	position: absolute;
	width: 46px;
	height: 48px;
	background: url(/images/search_icon.png) no-repeat center;
	background-size: contain;
	top: 15px;
	left: -60px;
}

.start-wrapper .start-content .description span:last-of-type {
	font-size: 36px;
}

.start-wrapper .start-content .form {
	width: 40%;
	padding: 0 20px;
}

.start-wrapper .start-content .form .tabs div {
	font-size: 18px;
	display: block;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	width: 50%;
	background: 0 0;
	cursor: pointer;
}

.start-wrapper .start-content .form .tabs div.active {
	background: #1a255b;
}

.start-wrapper .start-content .form form {
	background: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 85px 55px 34px;
	display: none;
}

.start-wrapper .start-content .form form div.help-block-error {
	font-size: 14px;
	color: #fd4a2c;
	margin-top: 5px;
}

.start-wrapper .start-content .form form .form-group {
	width: 100%;
	margin-bottom: 32px;
}

.start-wrapper .start-content .form form .form-group button,
.start-wrapper .start-content .form form .form-group input {
	border: 1px solid #1a255b;
	width: 100%;
	outline: 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

.start-wrapper .start-content .form form .form-group button {
	background: #1a255b;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

.start-wrapper .start-content .form form .form-group .remember input {
	width: auto;
}

.start-wrapper .start-content .form form .form-group:last-of-type {
	font-size: 16px;
	color: #1a255b;
}

.start-wrapper .start-content .form form .form-group:last-of-type a {
	text-decoration: none;
	color: #1a255b;
}

.start-wrapper .start-content .form form .form-group:last-of-type a:hover {
	text-decoration: underline;
}

.start-wrapper .start-content .form form .form-group:last-of-type .remember label {
	margin-left: 10px;
}

.start-wrapper .start-content .form form .form-group.field-loginform-rememberme {
	margin-top: -20px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.start-wrapper .start-content .form form#login-form {
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

.start-wrapper .start-content .form form#form-signup {
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
}

@media screen and (max-width:1205px) {

.start-wrapper .start-content {
	margin-top: 130px;
	padding-bottom: 150px;
}

.start-wrapper .start-content .description {
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}

.start-wrapper .start-content .description h1 {
	padding-left: 0;
}

.start-wrapper .start-content .description span:first-of-type:before {
	position: relative;
	display: inline-block;
	top: auto;
	left: -15px;
	vertical-align: middle;
}

.start-wrapper .start-content .form {
	width: 100%;
}

}

@media screen and (max-width:500px) {

	.start-wrapper .start-content .form form .form-group.field-loginform-rememberme .forget,
	.start-wrapper .start-content .form form .form-group.field-loginform-rememberme .remember {
		width: 100%;
		text-align: center;
	}

	.start-wrapper .start-content .form form .form-group.field-loginform-rememberme .remember {
		margin-bottom: 10px;
	}



}

