@media (min-width: 1800px) {
	.advantages-list-img {
		left: 30%;
	}
}

@media (max-width: 1199px) {

	body {
		font-size: 15px;
	}

	.registration-btn a {
		display: none;
	}

	.registration-btn-small {
		width: 31px;
		height: 31px;
		background: url(/images/registration-btn-small.png) no-repeat;
		margin-top: -7px;
	}

	.header__menu ul {
		padding-left: 0;
	}

	.header__menu ul li {
		margin-right: 20px;
	}

	.separator-line {
		margin: 15px 0 0 0;
	}

	.header-wrapper {
		padding-top: 15px;
	}

	.header__menu ul li.registration-btn {
		margin-right: 0 !important; 
	}

	.common-title-white {
		font-size: 40px;
		margin-top: 70px;
	}

	.common-title-black {
		font-size: 40px;
	}

	.advantages-list-img {
		bottom: -9%;
		left: 8%;
	}

	.advantages-list-img img {
		max-width: 80%;
	}

	.dispatch-form .input-wrapper {
		position: relative;
		margin-left: 0px;
	}

	.dispatch-form input {
		width: 100%;
	}

	.dispatch-form button {
		position: absolute;
		right: 5px;
		left: auto;
		top: 5px;
	}

	.subscription .common-text {
		min-width: 75%;
	}

	.footer {
		-webkit-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width: 992px) {

	.common-text {
		min-width: 70%;
	}

	.common-section {
		padding: 60px 0;
	}

	.m-menu-link {
		display: inline-block;
	}

	.visible-menu {
		display: none;
	}

	.free-list {
		-webkit-flex-direction: column;
		flex-direction: column;
		margin-left: 0;
		align-items: center;
		margin-bottom: 30px;
	}

	.free-list__block {
		margin-bottom: 15px;
		width: 100%;
	}

	.free-list__block2, .free-list__block3, .free-list__block4 {
		top: 0;
		left: 0;
	}

	.about-service {
		background-position: -105px 110%;
    	background-size: 38%;
	}

	.advantages-list-img {
	    position: absolute;
	    bottom: -3.8%;
	    left: 0%;
	}

	.advantages-list-img .responsive {
	    max-width: 40%;
	}

	.opportunities-list {
		-webkit-flex-direction: column;
		flex-direction: column;
		margin-left: 0;
		align-items: center;
		margin-bottom: -30px;
	}

	.opportunities-list__block {
		margin-bottom: 15px;
		width: 100%;
		min-height: 320px;
	}

	.opportunities-list__block1, .opportunities-list__block2 {
		top: 0;
		left: 0;
	}

	.dispatch-form .input-wrapper {
		margin-left: 0 !important;
	}

	.dispatch-form input {
		width: 100%;
	}


	.registration-btn-small-free {
		display: inline-block;
		margin-top: 0px; 
	    margin-right: 15px;
	    position: relative;
	    top: 12px;
	}

	.m-menu-link {
		visibility: visible !important;
	}

}

@media (max-width: 768px) {

	.advantages-list {
		-webkit-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}

	.subscription-list {
		-webkit-flex-direction: column;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
	}

	.opportunities-list__link {
		display: none;
	}

	.subscription-list__block1, .subscription-list__block2 {
		top: 0;
		left: 0;
	}

	.subscription-list__block {
		margin-bottom: 15px;
	}

	.common-title-white {
	    font-size: 35px;
	    margin-top: 40px;
	}

	.advantages-list-img {
		display: none;
	}

	.advantages-list {
		margin-bottom: -30px;
	}

	.advantages-list__right {
		text-align: left;
	}
	.advantages-list__left .advantages-list__item {
		padding-left: 65px;
	}

	.advantages-list__right .advantages-list__item {
		padding-left: 65px;
		padding-right: 0;
	}

	.advantages-list__right .advantages-list__item:after {
		left: 0 !important;
		right: auto !important;
	}

	.advantages-list__item {
		font-size: 15px;
	}

	.advantages-list__left .advantages-list__item:before, .advantages-list__right .advantages-list__item:after {
		background-size: 90% !important;
	}

	.advantages-list__item {
		padding-bottom: 25px;
	}

	.advantages-tooltip {
		width: 60%;
		right: auto;
		left: 20%;
		bottom: 8%;
	}

	.advantages-tooltip:before {
		right: 108px;
	}

	.advantages-tooltip textarea {
		width: 100%;
	}

	.about-service {
		background-position: -75px 110%;
	}

    .main-form .input-wrapper {
        margin-left: 0;
    }

    .main-form .input-wrapper input {
        width: 100%;
    }

    .main-form button {
        position: absolute;
        left: auto;
        right: 2px;
        top: 2px;
    }

    .mouse-link {
        display: none;
    }
}

@media (max-width: 600px) {

	.main {
		min-height: auto;
		height: 100%;
		padding-bottom: 20px;
	}

	.main-content {
		padding: 70px 0 20px 0;
	}

	.common-text {
		max-width: 100%;
	}

	.search-info {
		display: none !important;
	}

	.mouse-link {
		display: none !important;
	}

	.common-title-white {
	    font-size: 30px;
	    margin-top: 45px;
	    height: 170px;
	}

	.main-form input {
		width: 100%;
		/*height: 114px;*/
		padding-right: 20px;
	}

	.main-form .input-wrapper {
		margin-left: 0;
		position: relative;
		height: 114px;
		background-color: #fff;
		border-radius: 4px;
		z-index: 1000;
	}

	.main-form button {
		position: absolute;
		width: 98%;
	    top: auto;
	    bottom: 2px;
	    left: 1%;
	    background: #a0d56c url(/images/search-icon.png) no-repeat;
	    background-position: 35% 50%;
	}

	.main-form button:before {
		position: static;
	}

	.registration-btn-small-free {
		top: 0;
	}

	.m-menu-link {
		top: -5px;
	}

	.common-section {
	    padding: 40px 0;
	}

	.about-service {
		background: none;
	}

	.common-title-black {
	    font-size: 30px;
	}

	.free-list__text {
		display: none;
	}

	.free-list {
	    flex-direction: row;
	    flex-wrap: wrap;
	}

	.free-list__block {
	    margin-bottom: 10px;
	    width: 47%;
	    height: 112px;
	    padding: 10px;
	    margin-left: 3%;
	}

	.free-list__icon {
	    margin-bottom: 5px;
	}

	.free-list__title {
	    font-size: 14px;
	    font-weight: 400;
	    margin: 0 auto 0px auto;
	}

	.free-list img {
	    width: 30%;
	}

	.advantages-list {
		margin-bottom: -30px;
	}

	.advantages-list__right {
		text-align: left;
	}
	.advantages-list__left .advantages-list__item {
		padding-left: 65px;
	}

	.advantages-list__right .advantages-list__item {
		padding-left: 65px;
		padding-right: 0;
	}

	.advantages-list__right .advantages-list__item:after {
	    left: 0 !important;
	    right: auto !important;
	}

	.advantages-list__item {
		font-size: 15px;
	}

	.advantages-list__left .advantages-list__item:before, .advantages-list__right .advantages-list__item:after {
		background-size: 90% !important;
	}

	.advantages-list__item {
		padding-bottom: 25px;
	}

	.advantages-tooltip {
		width: 92%;
		right: auto;
		left: 4%;
		bottom: 8%;
	}

	.advantages-tooltip:before {
		right: 108px;
	}

	.advantages-tooltip textarea {
		width: 100%;
	}

	.advantages-list-img {
		position: relative;
	    bottom: -37px;
	}

	.advantages-list-img .responsive {
		max-width: 100%;
	} 

	.advantages-for-pay {
		padding: 40px 0 30px 0;
	}

	.main-content-description {
		margin-bottom: 35px;
	}

	.opportunities-list__title {
		font-size: 22px;
		line-height: 30px;
	}

	.opportunities-list__payment {
		font-size: 16px;
	}

	.opportunities-list__item {
		font-size: 13px;
	}

	.opportunities-list__block {
		min-height: auto;
	}

	.opportunities-list__community {
		font-size: 16px;
	}

	.subscription {
		padding-top: 20px;
	}

	.subscription-list__block {
		width: 90%;
		margin-bottom: 0;
	}

	.subscription-list__block2 {
		top: -15px !important;
		left: 10px !important;
	}

	.subscription-list__block3 {
		top: -30px !important;
		left: 20px !important;
	}

	.dispatch-form .input-wrapper {
	    margin-left: 0;
	    position: relative;
	    height: 114px;
	    background-color: #fff;
	    border-radius: 4px;
	    z-index: 1000;
	}

	.dispatch-form input {
		width: 100%;
    	padding-right: 20px;
    	border: none;
	}

	.dispatch-form button {
	    position: absolute;
	    width: 98%;
	    top: auto;
	    bottom: 2px;
	    left: 1%;
	}

	.dispatch-form button:before {
	    position: static;
	}

	.footer {
		align-items: flex-start;
	}

	.m-menu li a {
		line-height: 1.5;
	}

	.footer-item {
		font-size: 14px;
	}

	.wrapper-box {
		display: flex;
		justify-content: space-between;
	}

	.inspired.footer-item {
		margin-left: 35px;
	}

    .footer-item a {
		opacity: .8;
	}

	.opportunities-widget {
		display: block;
	}

	.opportunities-list {
		display: none;
	}

.online-consultations {
		filter: grayscale(100%);
	}

	.subscription .common-text {
		max-width: 90%;
	}

	.common-section.opportunities {
		padding-bottom: 20px;
	}

	.pull-left {
		float: none !important;
	}

	.pull-left.logo {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.footer .agree, .footer .bank {
		margin-left: 0;
		margin-bottom: 5px;
	}

	.pull-right {
		float: none !important;
		font-size: 13px;
	}

	.pull-right a {
		font-size: 13px;
	}

	.footer {
		text-align: center;
	}

	.footer p {
		display: block;
	}

	.footer a[data-toggle="modal"] {
		margin-left: 0;
	}

	.empty-block {
		padding: 20px;
	}

	.collapse-search__text, .requests-index .collapse-btn .search_operators, .more_options-text {
		border-bottom: 1px dashed #b5b5b5;
	}

	.tt-menu.tt-open {
		display: none !important;
	}

	.trademark-view-left {
		width: 70%;
        text-align: left;
		border-right: 1px solid #ccc;
		box-shadow: 4px 0 12px 4px #eee;
	}
	
	.trademark-view-right {
		text-align: left;
	}

	.wrapper-classes .classes-wrap {
		justify-content: start;
	}

    .popover{
        max-height: 210px;
        overflow-y: auto;
    }

    .popover .arrow {
        display: none;
    }
    
	.spin-loader {
		margin: -3px auto 0 auto;
	}

	.btn-violet.disabled {
		height: auto;
		padding-top: 13px;
		padding-bottom: 13px;
	}

    /*.slick-dots {
        bottom: 20px !important;
        right: 15px !important;
        text-align: right !important;
    }*/

}

@media (max-width: 480px) {

	.modal-content {
		font-size: 14px;
	}

	.modal-content .modal-title {
		font-size: 28px;
	}

	.modal-content .modal-title-inner {
		font-size: 24px;
	}

	.modal-content ol {
		padding-left: 20px;
	}

	.modal-content ol li {
		font-size: 14px;
		line-height: 20px;
	}

	.header__logo svg {
		max-width: 60%;
	}

	.common-title-white {
		height: 225px;
	}
}


@media (max-width: 320px) {
	.search-info {
		display: none;
	}

	.opportunities-list__title {
		font-size: 21px;
	}

	.advantages-list-img {
	    position: relative;
	    bottom: -28px;
	}
}