html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.lazyload,
.lazyloading {
    max-width: 25px;
}

.chat-widget .panel-collapse {
    overflow: hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #fff;
}

.wrap > .container {
    padding: 90px 15px 20px;
    position: relative;
}

.tags-wrap .add-term {
    margin-bottom: 5px;
}
.tags-wrap .add-term input {
    width: calc(100% - 20px);
}
.tags-wrap .add-term .agree {
    margin-left: 5px;
}

.footer {
    background: #625b66;
    margin-top: 30px;
    color: #9f97a3;
    padding-top: 23px;
    padding-bottom: 24px;
}

.footer p {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.footer a {
    color: #fff;
    font-size: 15px;
    display: inline-block;
}

.footer .logo {
    margin-top: -7px;
}

.footer .agree {
    margin-left: 15%;
}

.footer .bank {
    margin-left: 26px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.navbar .tarif {
    background: #e8c126;
    padding: 3px 15px 5px 15px;
    border-radius: 15px;
    line-height: 1.1;
    text-align: center;
}

.navbar .tarif.prem {
    margin: 18px 10px;
}

.navbar .tarif.base {
    margin: 24px 10px;
}

.navbar .tarif span {
    display: block;
    color: #fff;
    font-size: 11px;
}

.navbar .tarif span:first-of-type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.tm-companies form:after {
    content: '';
    display: table;
    clear: both;
}

.tm-companies .grid-view {
    margin-top: 30px;
}

.grid-view {
    clear: both;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.range {
    font-weight: normal;
    width: 100%;
}

.classes-sel {
    display: inline-block;
    width: 145px;
}

.ms-drop ul > li label span {
    margin-left: 8px;
    vertical-align: middle;
}

.ms-drop ul > li label input {
    margin: 0;
    vertical-align: middle;
}

.class-sel-caption > div,
.colors-sel-caption > div {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

/* Rezult Table */
.half-hide {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.show-trigger {
    background: linear-gradient(to bottom, rgba(255,255,255,0.14) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 100%);
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

tr.success .show-trigger {
    background: linear-gradient(to bottom, rgba(223,240,216,0.14) 0%,rgba(223,240,216,1) 33%,rgba(223,240,216,1) 100%);
}

tr.danger .show-trigger {
    background: linear-gradient(to bottom, rgba(242, 222, 222,0.14) 0%,rgba(242, 222, 222,1) 33%,rgba(242, 222, 222,1) 100%);
}

.show-trigger:before {
    background-image: url('../resources/images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    bottom: -12px;
    content: '';
    display: block;
    font-size: 22px;
    left: 5px;
    position: absolute;
    height: 40px;
    top: 7px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.show-trigger:hover {
    cursor: pointer;
}

.show-trigger:hover:before {
    background-image: url('../resources/images/down-arrow-black.png');
}

.rez-logo {
    display: block;
    margin-bottom: 10px;
}

.tags-wrap {
    margin-bottom: 15px;
}

.tags-wrap p {
    margin: 0;
}

.range-caption {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.collapse-btn {
    border-bottom: 1px dashed #337ab7;
    text-decoration: none;
}

.collapse-btn:hover {
    border-bottom-color: #23527c;
    text-decoration: none;
}

.collapse-btn:focus {
    text-decoration: none;
}

.collapse-btn span {
    font-size: 12px;
}

/* Range Input Custom Styles */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    height: 27px;
    width: 27px;
    background: url('/images/range_btn.png') no-repeat;
    margin-top: -10px;
    margin-left: 2px;
}


input[type=range]::-moz-range-thumb {
    height: 27px;
    width: 27px;
    background: url('/images/range_btn.png') no-repeat;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 27px;
    width: 27px;
    background: url('/images/range_btn.png') no-repeat;
    cursor: pointer;
}

input {
    outline: none !important;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #957da2;
    border-radius: 2px;
    /* border: 1px solid #a6a6a6; */
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #957da2;
    outline: none !important;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
    background: #957da2;
    border-radius: 2px;
    /* border: 1px solid #a6a6a6; */
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #957da2;
    /* border: 1px solid #a6a6a6; */
    border-radius: 2px;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}
input[type=range]:focus::-ms-fill-lower {
    background: #957da2;
    outline: none !important;
}
input[type=range]::-ms-fill-upper {
    background: #957da2;
    /* border: 1px solid #a6a6a6; */
    border-radius: 2px;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}
input[type=range]:focus::-ms-fill-upper {
    background: #957da2;
    outline: none !important;
}

.operators p span {
    background-color: #fcf8e3;
    display: inline-block;
    padding: 5px 10px;
}
.precision .range p {
    font-style: italic;
    margin-bottom: 11px;
    font-size: 12px;
}
.precision .range-caption {
    margin-bottom: 2px;
    margin-top: 30px;
}
.precision .range-caption .js_similarity {
    font-weight: bold;
}
.requests-index h1,
.patents-index h1 {
    clear: both;
    font-weight: 300;
}
.requests-index .instr {
    float: right;
    clear: both;
    margin-top: 10px;;
}
.requests-index .mobile-btn {
    display: none;
}
.tt-menu.tt-open {
    overflow: hidden;
}
.requests-index code {
    text-align: right;
}
.checkbox-list ul {
    list-style-type: none;
    padding-left: 9px;
}
.checkbox-list ul li span, .checkbox-list ul li input {
    vertical-align: middle;
    font-weight: normal;
}
.checkbox-list ul li input {
    margin-top: 0;
    margin-right: 5px;
}
.class-list .classes {
    width: calc(100% - 100px);
    margin-right: 0;
}
a.export-item {
    font-size: 13px;
    margin-right: 5px;
}
.requests-index button.track {
    font-size: 12px;
    padding: 8px;
}
.class-list .classes .checkbox-list li label {
    display: block;
    text-align: left;
    font-size: 13px;
    color: #a7a5a5;
}
.colors-list .colors .checkbox-list li label {
    font-size: 13px;
    color: #a7a5a5;
}
.class-list .classes .value,
.colors-list .colors .value {
    width: 145px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    padding: 2px 5px;
    cursor: pointer;
    position: relative;
    height: 26px;
    white-space: nowrap;
}
.class-list .classes .value {
    width: 100%;
}
.colors-list .colors .value {
    width: 190px;
}
.class-list .classes .value:after,
.colors-list .colors .value:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    background: #fff url("/images/multiple-select.png") left top no-repeat;
    z-index: 900;
}
.class-list .classes .value.active:after,
.colors-list .colors .value.active:after {
    background: #fff url(multiple-select.png) right top no-repeat;
}
.class-list .classes,
.colors-list .colors {
    position: relative;
}
.class-list .checkbox-list,
.colors-list .checkbox-list {
    position: absolute;
    display: none;
    padding-top: 2px;
    top: 25px;
    z-index: 1000;
    background: #fff;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    width: 100%;
}
.colors-list .checkbox-list .color-circle,
.colors-list .colors .value .color-circle {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #545454;
}
.colors-list .colors .value .color-circle {
    margin-right: 0;
}
.years .range-years {
    font-weight: bold;
}
.years #range-years .ui-state-default,
.years #range-years .ui-state-default .ui-widget-content .ui-state-default {
    height: 27px;
    width: 27px;
    background: url('/images/range_btn.png') no-repeat;
    margin-top: -6px;
    border: none;
    outline: none !important;
    /* margin-left: 2px; */
}
/* .years #range-years .ui-slider-handle {
    top: -0.9em;
} */
.years #range-years.ui-widget.ui-widget-content {
    /* background: rgb(222, 222, 222);
    border: 1px solid #a6a6a6;
    -webkit-box-shadow: 2px 1px 5px 0 rgba(166, 166, 166, 0.79);
    -moz-box-shadow: 2px 1px 5px 0 rgba(166, 166, 166, 0.79);
    box-shadow: 2px 1px 5px 0 rgba(166, 166, 166, 0.79); */
    border: none;
}
.years #range-years .ui-widget-header {
    height: 5px;
    border-radius: 2px;
    background-color: #957da2;
}

.ui-widget.ui-widget-content {
    background-color: #957da2;
    border: 1px solid #e9e9e9;
}

.tracking .ui-widget.ui-widget-content {
    background-color: transparent;
    border: none;
}

.ui-slider-horizontal {
    height: 5px;
}

.years {
    margin-bottom: 35px;
}
.sidebar-menu .container-fluid,
.sidebar-menu .navbar-collapse {
    padding: 0;
}
.sidebar-menu ul.navbar-nav {
    padding: 10px 0;
}
.sidebar-menu ul.navbar-nav,
.sidebar-menu ul.navbar-nav li {
    width: 100%;
}
.sidebar-menu ul.navbar-nav li a:hover {
    color: #555;
    background-color: #e7e7e7;
}
.sidebar-menu ul.navbar-nav li li.active a {
    text-decoration: underline;
}
.sidebar-menu ul.navbar-nav li ul {
    padding: 0;
}
/*.sidebar-menu ul.navbar-nav li ul li {*/
/*position: relative;*/
/*}*/
/*.sidebar-menu ul.navbar-nav li ul li:after {*/
/*content: '';*/
/*position: absolute;*/
/*left: 20px;*/
/*}*/
.sidebar-menu ul.navbar-nav li ul li a {
    color: rgba(255,255,255,.84);
    text-decoration: none;
    display: block;
    padding: 7px;
    padding-left: 46px;
    background: #028a7d;
}
.sidebar-menu ul.navbar-nav .glyphicon {
    margin-right: 15px;
    font-size: 16px;
}
.profile-wrapper .profile-content blockquote p {
    font-size: 15px;
}
.profile-wrapper .profile-content .form-subscription button[type=submit] {
    display: none;
}
.profile-wrapper .profile-content .form-subscription button[type=submit].active-button {
    display: block;
}
.field-supportform-name {
    margin: 0;
    padding: 0;
}
.form-group .help-block.help-block-error {
    display: block;
}
.form-group input[type=file] {
    cursor: pointer;
}
.form-group.status #requestsearch-status,
.form-group.status #patentform-status {
    display: inline-block;
    vertical-align: top;
}
.patents-index .grid-view .views,
.patents-index p .views,
.patents-index .patents-tile .views {
    float: right;
}
.patents-index .grid-view .views a,
.patents-index .patents-tile .views a {
    color: #957da2;
}
.patents-index .patents-tile {
    margin-top: 30px;
    background: #fff;
}
.patents-index .patents-tile .images:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}
.profile-wrapper .profile-content blockquote.warning,
.users blockquote {
    border-left: 5px solid #f0ad4e;
    background: #fcf8f2;
}
.profile-wrapper .support .upload-file .glyphicon-download-alt {
    color: #BDBDBD;
    margin-right: 5px;
}
.profile-wrapper .support .upload-file .has-success .glyphicon-download-alt {
    color: #4caf50;
}
.profile-wrapper .support .upload-file .has-error .glyphicon-download-alt {
    color: #f44336;
}
.profile-wrapper .notifications blockquote{
    border-left: 5px solid #ea9292;
    background: #ea929226;
}
.form-group.required label:after {
    content: ' *';
    color: #fe3b3b;
}
.patents-index table td.images a,
.patents-index .patents-tile .images .img {
    display: inline-block;
    overflow-y: hidden;
    background: #f3f3f3;
    border: 1px solid #cac9c9;
    margin-right: 3px;
}
.patents-index table td.images a {
    width: 35px;
    height: 35px;
}
.patents-index .patents-tile .images a {
    display: inline-block;
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
.patents-index .patents-tile .images .img {
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 250px;
    margin: 1.66%;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
.patents-index .patents-tile .images .img .name {
    font-size: 13px;
    padding: 10px;
}
.patents-index .patents-tile .images .img .content {
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width: 768px) {
    .patents-index .patents-tile .images .img {
        margin: 4.16%;
    }
}
@media (max-width: 767px) {
    .patents-index .patents-tile .images .img {
        margin-left: 0;
        margin-right: 0;
    }
    .requests-index .mobile-btn {
        display: block;
    }
}
.patents-index table td.images .images-gallery {
    width: 185px;
    max-height: 120px;
    overflow: hidden;
}
.patents-index table td.images img,
.patents-index .patents-tile .images img {
    width: 100%;
}
.patents-index .patents-tile .images img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.patents-index .grid-view {
    margin-top: 30px;
}
.patents-index .class-list li:not(.parent):not(:first-of-type) {
    padding-left: 20px;
}
.patents-index .class-list .parent {
    background: #957da2;
    padding: 3px;
    margin: 12px 0;
}
.patents-index .class-list .parent label span {
    color: #fff;
}
.patents-index .class-list li.parent label {
    color: #fff;
    padding: 5px;
}
#login-form .forget {
    text-align: right;
}
#login-form .signup {
    text-align: right;
}
.colors-wrapper {
    padding-top: 110px;
}
.colors-wrapper .progress {
    display: none;
    height: 10px;
}
.colors-wrapper .colors-base {
    position: fixed;
    text-align: center;
    background: #fff;
    width: 100%;
    top: 51px;
    left: 0;
    padding-top: 30px;
    z-index: 1000;
    box-shadow: 0 1px 7px #afacac;
}
.colors-wrapper .btn.btn-sm {
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}
.colors-wrapper .btn.btn-sm:last-of-type {
    margin-right: 0;
}
a[data-toggle="modal"] {
    display: inline-block;
    margin-left: 15px;
}
.fade.show {
    opacity: 1;
}
#modal-agreement {
    background: rgba(0, 0, 0, 0.5);
}
#modal-agreement h5 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modal-dialog .modal-content .modal-body > ol {
    list-style-type: upper-roman;
}
.modal-dialog .modal-content .modal-body > ol > li {
    margin-bottom: 10px;
}
.modal-dialog .modal-content .modal-body > ol > li > b {
    margin-bottom: 10px;
    display: inline-block;
}
.modal-dialog .modal-content .modal-body > ol > li ol {
    list-style-type: none;
    counter-reset: li;
}
.modal-dialog .modal-content .modal-body > ol > li ol li:before {
    content: counters(li,".") ". ";
    counter-increment: li;
    position: absolute;
    left: 64px;
}
.modal-dialog .modal-content .modal-body > ol > li ol li > span {
    display: inline-block;
}
.modal-dialog .modal-content .modal-body > ol > li ol li,
.modal-dialog .modal-content .modal-body > ol > li ol li > span {
    margin-bottom: 10px;
}
.modal.fade .modal-dialog {
    transform: none;
}
.colors-wrapper tbody tr td {
    vertical-align: middle;
}
.colors-wrapper td .btn.btn-sm {
    margin-bottom: 0;
}
.colors-wrapper td .btn.btn-sm .glyphicon {
    margin-left: 8px;
}
.colors-wrapper td .droppable {
    display: inline-block;
    height: 30px;
    width: 70px;
    border: 2px dashed orange;
    vertical-align: middle;
}
.colors-wrapper ul.ui-sortable {
    min-height: 30px;
    margin-bottom: 0;
    padding: 0;
}
.colors-wrapper .sortable2 .ui-sortable-placeholder {
    visibility: visible !important;
    border: 1px dashed orangered;
}
.colors-wrapper .progress {
    margin-bottom: 0;
}
.colors-wrapper .type a {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: #4279a6;
}
.colors-wrapper .type a:hover {
    text-decoration: none;
}
.colors-wrapper .type a.active {
    border: 1px solid #4279a6;
    background: #55a0e0;
    border-radius: 5px;
    color: #fff;
}
.form-group.classes-colors {
    margin-top: 40px;
}
.tracking .add {
    margin-bottom: 10px;
    margin-top: 30px;
}
.tracking .style {
    background: #337ab72e;
}
.tracking .alert.alert-success {
    clear: both;
}
.glyphicon.glyphicon-bell.notice {
    color: #fff;
}
table .delete {
    vertical-align: middle;
    text-align: center;
    color: #d9534f;
}
table .delete i {
    cursor: pointer;
}
.tracking table tr th {
    vertical-align: middle;
    text-align: center;
}
.tracking table th.seen {
    padding-top: 30px;
}
.tracking table th.seen label {
    width: 100%;
    font-weight: normal;
}
.tracking table .active,
.tracking table .seen-check {
    vertical-align: middle;
    text-align: center;
}
table .glyphicon {
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}
table .glyphicon.glyphicon-new-window {
    font-size: 13px;
    vertical-align: baseline;
}
.users table .form-group {
    margin: 0;
}
.tracking table th.tracking-width {
    width: 70%;
}
.tracking table td.tracking-width .title {
    display: inline;
}
.tracking table td.tracking-width .edit {
    color: #337ab7;
    margin-left: 10px;
    font-size: 15px;
    vertical-align: baseline;
}
.tracking table .buttons {
    text-align: center;
    vertical-align: middle;
}
table i.agree {
    color: #d9534f;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 0;
}
.tracking table td.tracking-width > div {
    max-height: 350px;
    overflow-y: auto;
}
.tracking table .thumb {
    text-align: center;
}
.tracking table .thumb img {
    width: 60px;
}
.requests-index #request-form {
    clear: both;
}
blockquote.request-success {
    background: #dff0d8;
    border-left: 5px solid #c8d8c2;
}
blockquote.request-success p {
    font-size: 15px;
}
blockquote.request-success a {
    display: inline-block;
    margin-top: 10px;
}
@keyframes glyphicon-spin-r {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes glyphicon-spin-r {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes glyphicon-spin-r {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-o-keyframes glyphicon-spin-r {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

.spin-loader {
    height: 22px;
    width: 22px;
    -webkit-animation: loader-1-1 4.8s linear infinite;
    animation: loader-1-1 4.8s linear infinite;
    margin: -8px auto 0 auto;
}
@-webkit-keyframes loader-1-1 {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-1-1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spin-for-input {
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0%; right: 0;
    margin: auto;
    height: 22px;
    width: 22px;
    clip: rect(0, 22px, 22px, 11px);
    -webkit-animation: loader-1-2 1.2s linear infinite;
    animation: loader-1-2 1.2s linear infinite;
}
@-webkit-keyframes loader-1-2 {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(220deg); }
}
@keyframes loader-1-2 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(220deg); }
}
.spin-for-input::after {
    content: "";
    position: absolute;
    top: 0%; left: 0;
    bottom: 0%; right: 0;
    margin: auto;
    height: 22px;
    width: 22px;
    clip: rect(0, 22px, 22px, 11px);
    border: 3px solid #FFF;
    border-radius: 50%;
    -webkit-animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-1-3 {
    0%   { -webkit-transform: rotate(-140deg); }
    50%  { -webkit-transform: rotate(-160deg); }
    100% { -webkit-transform: rotate(140deg); }
}
@keyframes loader-1-3 {
    0%   { transform: rotate(-140deg); }
    50%  { transform: rotate(-160deg); }
    100% { transform: rotate(140deg); }
}

#request-recognize,
#trademark-recognize,
#tm-foreign-recognize {
    margin-bottom: 10px;
}
#trademark-recognize button,
#request-recognize button,
#tm-foreign-recognize button {
    margin-top: 10px;
}
#request-recognize .spinner,
#trademark-recognize .spinner,
#tm-foreign-recognize .spinner {
    opacity: 0;
    font-size: 21px;
    margin-left: 15px;
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}
#request-recognize .spinner.active,
#trademark-recognize .spinner.active,
#tm-foreign-recognize .spinner.active {
    opacity: 1;
}
.recogntion-wrapper img {
    width: 200px;
}
.recogntion-wrapper td.img {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    vertical-align: middle;
    margin: 0;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #337ab7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.instruction img {
    margin: 20px 0;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.radio_index {
    width: 300px;
    text-align: left;
    margin: 0 0 20px 25px;
}

.chat-window .chat {
    max-height: 450px;
    overflow-y: auto;
}

.chat-window .chat:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.chat-window .chat .message {
    padding: 10px;
    margin-bottom: 15px;
    clear: both;
    width: calc(100% - 50px);
}

.chat-window .chat .message.bg-success {
    float: left;
}
.chat-window .chat .message.bg-info {
    float: right;
}

.chat-window .chat .message .name {
    color: #009688;
    margin-bottom: 10px;
}
.chat-window .chat .message .text {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.chat-window .chat .message .file,
.chat-window .chat .message .file a {
    color: #68acd0;
}

.chat-window .chat .message .file span {
    display: inline-block;
    margin-right: 5px;
}
/*Чат основной*/
.parent-chat-widget {
    float: right;
}
.chat-widget {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px;
    z-index: 1000;
}
.chat-widget .chat-img.support {
    width: 50px;
    height: 50px;
    background: url('/images/mncl_chat_ava.png') no-repeat #d9edf7 center center;
    background-size: 60%;
    border-radius: 50%;
}
.chat-widget .btn-group.pull-right {
    margin: 0;
}
.chat-widget .btn-group.pull-right .arrow {
    background: #fff;
}
.chat-widget .upload-file .form-group {
    margin: 0;
}
.chat-widget .upload-file .form-group .glyphicon-download-alt {
    color: #BDBDBD;
}
.chat-widget .chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-widget .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat-widget .chat li.left .chat-body {
    margin-left: 60px;
}

.chat-widget .chat li.right .chat-body {
    margin-right: 60px;
}
.chat-widget .panel .collapsing {
    width: 100%;
}

.chat-widget .chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.chat-widget .panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.chat-widget .panel-body {
    overflow-y: scroll;
    height: 250px;
    width: 100%;
}

.chat-widget .panel-footer .input-group {
    width: 100%;
}
.chat-widget .panel-body .user-img,
.chat-widget .panel-body .support-img {
    max-width: 100px;
}
.chat-widget .panel-body .user-img img,
.chat-widget .panel-body .support-img img {
    width: 100%;
}

::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    border-radius: 2px;
    background-color: #f8f8f8;
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    width: 5px;
    border-radius: 2px;
    background-color: #957da2;
}


.profile-wrapper .support .form {
    clear: both;
}
.profile-wrapper .support #supp {
    display: none;
}
.profile-wrapper .support .bg-danger.message-error {
    padding: 10px;
}
.profile-wrapper .support .support-img,
.profile-wrapper .support .user-img {
    float: right;
    margin: 0 10px 15px 0;
    max-width: 150px;
    text-align: center;
    padding-bottom: 15px;
    overflow: hidden;
    height: 200px;
}
.profile-wrapper .support .user-img {
    float: left;
}
.profile-wrapper .support .support-img .name,
.profile-wrapper .support .user-img .name {
    padding: 5px 5px 15px;
    text-align: left;
    font-size: 13px;
}
.profile-wrapper .support .support-img img,
.profile-wrapper .support .user-img img {
    max-width: 100%;
}
.page-size-limit a.active {
    text-decoration: underline;
}
@media screen and (max-width: 991px){
    .colors-wrapper .colors-base {
        padding-top: 117px;
    }
    .wrap > .container {
        padding: 170px 15px 20px;
    }
}
@media screen and (max-width: 779px){
    .colors-wrapper .colors-base {
        padding: 0;
        position: relative;
        top: 0;
        margin-bottom: 30px;
    }
    .colors-wrapper, .wrap > .container {
        padding-top: 0;
    }
}

.wrap .navbar-inverse {
    background-color: #957da2;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    opacity: .9;
}

.track-bell .bell {
    width: 19px;
    height: 27px;
    background: url('/images/white_bell.svg') no-repeat;
    position: relative;
}

.track-bell {
    position: relative;
}

.track-bell .count {
    padding: 1px 0 4px 0;
    background-color: #a0d56c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 10px;
    position: absolute;
    top: -6px;
    left: 7px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    text-align: center;
}

@keyframes _img {
    0%  {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);

    }
    75% {
        -webkit-transform: rotate0deg);
        transform: rotate(0deg);

    }
    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(30deg);
    }
}

.track-bell .bell:hover {
    animation: _img .5s 0s ease-in-out infinite;
    /*animation-iteration-count: 3;*/
}

.navbar-inverse .navbar-nav > li > a {
    background-color: #957da2;
    transition: background-color 0.5s ease;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #a48cb1;
}
.navbar-inverse .navbar-nav .notice-bell a:hover {
    background: transparent;
}

.caret {
    border: none;
    width: 13px;
    height: 8px;
    background: url('/images/arrow_sprites.png') no-repeat 0 0;
    margin-left: 3px;
}

.dropdown.open .caret {
    background: url('/images/arrow_sprites.png') no-repeat 0 -8px;
}

.navbar-right .dropdown-menu {
    top: auto !important;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

a:focus {
    outline: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}

.dropdown-menu > li > a {
    white-space: normal;
    line-height: 1.2;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.btn-primary.btn-violet:active, .btn-primary.btn-violet:focus {
    background-color: #8c7399;
    border: none;
    outline: none;
}

.btn-info.btn-lime-green:active, .btn-info.btn-lime-green:focus {
    background-color: #80aa57;
    border: none;
    outline: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #8c7399;
}

.dropdown-menu > li > a {
    font-size: 15px;
    color: #957da2;
    padding: 5px 20px;
}

.dropdown-menu > li:first-child > a:before {
    background: none !important;
}

.dropdown-menu {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #957da2;
    text-decoration: none;
    background-color: #f8f8f8;
}

.dropdown-menu li:first-child {
    margin-right: 0 !important;
}

.navbar-right .dropdown-menu {
    top: 51px;
}

/*.dropdown-menu .btn:hover, .btn:focus, .btn.focus {
    color: #fff;
}*/

nav .navbar-nav li.tariff a {
    padding: 0;
}

nav .navbar-nav li.tariff a:hover {
    background: transparent;
    cursor: default;
    user-select: none;
}

nav .navbar-nav li.notice-bell a {
    padding: 21px 24px;
}



.dropdown-menu .btn {
    background-color: #fff !important;
    color: #d35b1f;
    text-align: left;
    padding: 6px 20px;
}
.dropdown-menu .divider {
    display: none;
}

.dropdown-menu .btn:hover {
    background-color: #f8f8f8 !important;
}

body .wrap {
    background-color: #f8f8f8;
}

.requests-index h1,
.patents-index h1 {
    margin-bottom: 30px;
}

.bg-alert.pull-right {
    color: #b5b5b5 !important;
    background-color: transparent !important;
}

.clear {
    clear: both;
}

.common-row {
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    padding: 30px;
}

.type-list label {
    width: 50%;
}

#request-form .form-control,
#patent-form .form-control {
    height: 60px;
    border-radius: 4px;
    border: 2px solid #e9e9e9;
    background-color: #f8f8f8 !important;
    outline: none;
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 280px;
}

#request-form .form-control:focus,
#patent-form .form-control:focus {
    border-color: #e9e9e9;
    box-shadow: none;
}

#request-form .form-control.tt-hint {
    background-color: #f7f9fa !important;
}

.btn-violet, .btn-lime-green {
    border-radius: 4px;
    padding: 20px 30px;
    height: 50px;
    display: inline-block;
    background-color: #957da2;
    line-height: .8;
    border: none;
    cursor: pointer;
    z-index: 100;
}
#add-to-track {
    display: inline-block;
}

.btn-violet {
    /*right: 173px;*/
}

.btn-violet:hover {
    background-color: #a48cb1;
    color: #fff;
}

.btn-lime-green {
    background-color: #a0d56c;
}

.btn-lime-green:hover {
    background-color: #b3e086;
}

.patents-index input {
    outline: none;
}

.requests-index .collapse-btn,
.patents-index .collapse-btn {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    border-bottom: none;
}
.patents-index .btn-violet {
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
}
.patents-index .search-btn {
    position: absolute;
    right: 20px;
    top: 5px;
}
.patents-index #patentform-string {
    outline: none;
}
.collapse-btn span {
    font-size: 10px;
    color: #b5b5b5;
    padding-left: 3px;
}
.collapse-btn {
    transition: color 0.5s ease;
}
.collapse-btn:hover {
    color: rgb(51, 51, 51);
}

.well {
    border: none;
    border-radius: 0px;
    box-shadow: -3px 6px 16px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    margin-top: 10px;
}

.operators p span {
    background-color: #f8f8f8;
}

.instr {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 0 !important;
    transition: color 0.5s ease;
}

.instr:hover, .instr:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    border: none;
}

.common_title {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.checkbox-true {
    display: none;
}

.checkbox-custom {
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
}

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.label {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.checkbox-custom {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

.checkbox-true:checked + .checkbox-custom::before {
    content: "";
    display: block;
    width: 11px;
    height: 9px;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 4px;
    background: url(/images/violet_marker.png) no-repeat;
    font-weight: 300;
    font-size: 12px;
}

.checkbox-true:checked + .checkbox-custom.not-active::before {
    background: none;
}

#request-form .radio,
#patent-form .radio {
    display: inline-block;
}

#request-form .radio label,
#patent-form .radio label {
    padding-left: 0;
}

.radio-true {
    display: none;
}

.radio-custom {
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
    border-radius: 50%;
}

.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.label {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    -ms-text-align-last: auto;
    text-align-last: auto;
    display: inline;
    white-space: normal;
}

.radio-true:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    background-color: #957da2;
    border-radius: 50%;
}

.label-common {
    padding-right: 30px !important;
}

.radio:last-child .label-common {
    padding-right: 0px !important;
}

.row_options {
    background-color: #f8f8f8;
    border: 3px solid #fff;
    text-align: center;
    border-top: none;
    margin-bottom: 10px;
}

.requests-index .grid-view {
    margin-top: 30px;
}

.more_options {
    position: relative;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    transition: color 0.5s ease;
    /*height: 50px;*/
    text-align: center;
    padding: 17px 0;
    display: block;
}

.more_options:before {

}

/*.more_options:after {*/
    /*!*     position: absolute; *!*/
    /*content: 'Больше опций';*/
/*}*/

/*.more_options.active:after {*/
    /*content: 'Свернуть';*/
/*}*/

.more_options:hover {
    color: rgb(51, 51, 51);
}

.row-status {
    border-bottom: none;
}

.row-status .radio label {
    padding-right: 30px;
}

.row-status .radio:last-child label {
    padding-right: 0px;
}

.row_options .glyphicon {
    color: #b5b5b5;
    padding-left: 10px;
    font-size: 12px;
}

.rest_options {
    display: none;
}

.rest_options.active {
    display: block;
}

.btn_assess_risks {
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
    border: 2px solid #957da2;
    background-color: #ffffff;
    text-align: center;
    margin: 30px 0;
    color: #957da2;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px;
    display: block;
}

.btn_assess_risks:hover {
    color: #333;
    text-decoration: none;
}
.btn_assess_risks img {
    max-width: 100px;
    margin-left: 5px;
}

.range-caption {
    margin-bottom: 20px !important;
    margin-top: 0px !important;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.js_similarity, .years .range-years {
    color: #000;
    padding-left: 3px;
}

.add_info_small {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.class-list .classes .value, .colors-list .colors .value {
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding: 9px 20px;
    height: 38px;
}

.requests-index .buttons {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 10;
}

.class-list .classes .value:after, .colors-list .colors .value:after {
    width: 11px;
    height: 7px;
    background: url(/images/select_violet_arrow.png) 0 0 no-repeat;
    top: 14px;
    right: 14px;
}

.class-list .checkbox-list, .colors-list .checkbox-list {
    top: 38px;
    box-shadow: -3px 6px 16px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    padding: 20px 10px;
}

.class-list .classes .checkbox-list li label {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.colors-list .checkbox-list .color-circle {
    border: 1px solid #957da2;
}

.table-bordered {
    border: none;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
    /* border-collapse: collapse;
    box-sizing: border-box;  */
}

.table-bordered > thead > tr > th {
    border: none !important;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fafafa;
    padding: 15px;
    vertical-align: middle;
}

.table.table-bordered > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #fff;
}

/*.table > tbody > tr.success > td {*/
    /**/
/*}*/

.table-bordered tr.success pre {

}

.table-bordered > tbody > tr > td {
    border: none;
    padding: 20px 15px;
}

.patents-index .patents-tile .table-footer {
    border-top: 1px solid #e9e9e9;
}
.patents-index .patents-tile a {
    color: #957da2;
}

.table-bordered  pre {
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #f8fafa;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-transform: none;
    margin-bottom: 17px;
}

.table-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
    background: #fff;
    padding: 25px 30px;
}

.table-bordered .classes-wrap.js-classes-wrap .btn.btn-default {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    border: none;
    background-color: inherit;
    outline: none;
}

.table-bordered .tags-wrap p {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.table-bordered td a {
    color: #957da2;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    position: relative;
    /*padding-right: 14px;*/
}

.table-bordered td.number a {
    text-decoration: underline;
}

table .glyphicon.glyphicon-new-window {
    font-family: 'Open Sans', sans-serif;
}

.single img {
    width: 500px;
    height: auto;
    float: right;
}

.table-bordered td a .glyphicon-new-window:before {
    content: "";
}

.table-bordered td:nth-child(5),
.table-bordered td:nth-child(6) {
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.table-bordered td:nth-child(5) {
    width: 180px;
}

.table-bordered td:nth-child(5) a:after,
.table-bordered td:nth-child(6) a:after,
.patents-index .patents-tile .name a:after {
    content: "";
    width: 14px;
    height: 14px;
    background: url(/images/linksign_.png) no-repeat;
}

.table-bordered td:nth-child(5) a:after,
.table-bordered td:nth-child(6) a:after {
    position: relative;
    display: inline-block;
    right: auto;
    top: -1px;
    left: 4px;
}

.patents-index .patents-tile .name a:after,
.patents-index td:nth-child(5) a:after {
    position: relative;
    display: inline-block;
    right: auto;
    top: -1px;
    left: 6px;
}

.table-bordered td:nth-child(5) small a {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.table-bordered td:nth-child(1) {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.table-bordered td:last-child {
    width: 190px;
}

.all_found_btn {
    display: inline-block;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.top_title_wrapper {
    padding: 30px;
    background-color: #fff;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}

.export_btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #957da2;
    padding: 7px 23px;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-top: -8px;
    transition: background-color 0.5s ease;
}

.export_btn:hover {
    background-color: #a48cb1;
}

.export-amount label, .export label {
    opacity: 0;
}

.table-bordered tbody tr {
    cursor: pointer;
    height: 100%;
}

.table-bordered tbody tr:hover  {
    outline: 2px solid #e2dbe5;
    background-color: #fafafa;
}

.table-bordered .actions {
    display: none;
    margin-top: 25px;
}

.table-bordered tbody tr:hover .actions {
    display: block;
}

.table-bordered tbody tr:hover td:last-child span {
    opacity: .2;
}

.table-bordered .add-item.track {
    border-radius: 4px;
    background-color: #a0d56c;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 9px 26px;
    border: none;
    transition: background-color 0.5s ease;
    outline: none;
}

.table-bordered .add-item.track:hover {
    background-color: #b3e086;
}

.table-bordered td a.js-wrong_tags {
    border-radius: 4px;
    background-color: #625b66;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 9px 23px;
    border: none;
    transition: background-color 0.5s ease;
    outline: none;
}

.table-bordered td a.js-wrong_tags:hover {
    background-color: #777379;
}

.table-bordered .bg-success {
    background-color: transparent;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.tags-wrap small, .tags-wrap .small {
    font-size: 100%;
}

.export_btn.active {
    border: 1px solid #957da2;
    background-color: #fff;
    color: #957da2;
}

.pagination {
    margin: 0;
    border: none;
    border-radius: 0;
}
.page-size-limit {
    margin-left: auto;
}
.page-size-limit .options {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 15px;
}

.pagination .next a,
.pagination .prev a {
    margin-top: -2px;
}
.pagination .prev.disabled,
.pagination .next.disabled,
.pagination .first.disabled,
.pagination .last.disabled {
    display: none;
}

.page-size-limit .options ul {
    position: absolute;
    top: -3px;
    left: 0;
    margin: 0;
    list-style-type: none;
    padding: 0 10px 10px 10px;
    background: #fff;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}
.page-size-limit .options ul a {
    color: #957da2;
    font-size: 15px;
}

.parent-chat-widget #input-text {
    max-width: 280px;
    margin-bottom: 10px;
}
.parent-chat-widget .upload-file {
    clear: both;
}
.parent-chat-widget .input-group-btn {
    vertical-align: top;
}
.parent-chat-widget .panel-footer {
    padding: 10px 15px 20px;
}

.requests-index table .rez-logo {
    text-align: center;
}

.requests-index table tr:nth-of-type(odd),
.table-bordered table tr:nth-of-type(odd) {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.table > tbody > tr.success > td,
.table > tbody > tr.danger > td {
    background: none;
}

.table tbody tr.success {
    background: #f1f9ea;
}
.table tbody tr.danger {
    background: #fff3f3;
}

.page-size-limit li:not(.active) {
    display: none;
}

.page-size-limit .options.active ul li {
    display: block;
}
.page-size-limit .options ul li {
    line-height: 1.7;
}

.page-size-limit li.active a:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url(/images/select_violet_arrow.png) 0 0 no-repeat;
    margin-left: 7px;
    vertical-align: middle;
}

.pagination > li > a, .pagination > li > span {
    color: #957da2;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    border: none;
    background-color: transparent;
}

.table.table-bordered {
    margin-bottom: 0;
}

.pagination > .active > a {
    border-radius: 4px;
    background-color: #957da2;
    color: #fff;
}

.pagination > .active > a:hover {
    background: #957da2;
}

.export-links {
    position: fixed;
    z-index: 100;
    padding: 30px;
    background-color: #625b66;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
#patentform-string {
    padding-right: 140px;
    position: relative;
}

.export-links-text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 18px;
}

.export-links-text-bold {
    font-weight: 400;
}

.export-links .export-item {
    border-radius: 4px;
    background-color: #a0d56c;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 12px 20px;
    border: none;
    transition: background-color 0.5s ease;
    margin-right: 7px;
}

.export-links .export-item:hover {
    text-decoration: none;
    background-color: #b3e086;
}

.table-striped > tbody > tr.active > td {
    background-color: #957da2 !important;
    color: #fff !important;
}

.table-striped > tbody > tr.active > td a {
    color: #fff !important;
}

tr.active  .tags-wrap p {
    color: #fff !important;
}

tr.active  pre {
    border: 1px solid #c2abce;
    background-color: #957da2;
    color: #fff;
}

.table-bordered tr.active td:nth-child(5), .table-bordered tr.active td:nth-child(5) {
    color: #b5b5b5 !important;
}

.navbar-brand {
    height: auto;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 25px 18px;
    }
}

/* profile */

.profile-wrapper .sidebar-menu ul.navbar-nav li ul li {
    list-style: none;
}

.profile-wrapper .sidebar-menu ul.navbar-nav li ul li a {
    color: #666;
    opacity: .9;
    font-weight: 300;
    background-color: #fff;
    transition: background-color 0.5s ease;
    padding-left: 66px;
}

.profile-wrapper .sidebar-menu ul.navbar-nav li ul li a:hover {
    background-color: #e7e7e7;
}

.profile-wrapper .sidebar-menu .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
}

.profile-wrapper .sidebar-menu nav {
    border: none !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-weight: 300;
}

.sidebar-menu ul.navbar-nav .glyphicon {
    color: #625a65;
}

.profile-wrapper .sidebar-menu .navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #957da2;
}

.profile-wrapper .sidebar-menu .navbar-default .navbar-nav > .active > a .glyphicon {
    color: #fff;
}

.profile-wrapper .sidebar-menu .navbar-nav > li > a {
    padding: 20px 18px;
}

.profile-wrapper h1 {
    margin-bottom: 30px !important;
    font-weight: 300 !important;
}

.profile-wrapper .form-control {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #957da2;
    background-color: #fff !important;
    outline: none;
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    outline: none;
}

.profile-wrapper label {
    font-weight: 400;
}

.profile-wrapper fieldset.form-group {
    margin-top: 40px;
}

.profile-wrapper fieldset legend {
    font-weight: 300;
    color: rgb(51, 51, 51);
}

.profile-wrapper .btn.btn-raised.btn-primary {
    background-color: #a0d56c;
    border: none;
    border-radius: 4px;
    padding: 0px 30px;
    height: 40px;
    transition: background-color 0.5s ease;
}

.profile-wrapper .btn.btn-raised.btn-primary:hover {
    background-color: #b3e086;
}

.sidebar-menu ul.navbar-nav li a:hover {
    color: #333;
    /* background-color: #f8f8f8; */
}

.profile-wrapper .btn.btn-raised.btn-primary:active, .profile-wrapper .btn.btn-raised.btn-primary:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
}

footer a {
    font-weight: 300;
}

.profile-content table tr {
    cursor: default;
}

.profile-wrapper .table-bordered tbody tr:hover {
    outline: none;
    background-color: inherit;
}

.renew-subscription {
    padding-left: 20px;
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    transition: color 0.5s ease;
}

.renew-subscription:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
    border: none;
}

.profile-wrapper .sidebar-menu ul.navbar-nav li a {
    transition: background-color 0.5s ease;
}

.under_constuction {
    font-size: 13px;
    color: #fff;
    background-color: #e8c126;
    text-align: center;
    padding: 6px;
    margin: 0 auto 40px auto;
    /* width: 70%; */
}

.form-group .btn-primary.disabled:hover, .form-group .btn-primary[disabled]:hover {
    background-color: #a48cb1 !important;
    color: #fff;
}

.form-control.tt-input.loading {
    background-image: none !important;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus {
    background-color: #a48cb1;
    color: #fff;
}

@media (max-width: 767px) {
    .parent-chat-widget {
        display: none;
    }
}

.collapse-search {
    display: none;
    background-color: #ffffff;
    color: #b5b5b5;
    /*font-family: "Open Sans";*/
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 20px;
    border-bottom: 1px solid #e9e9e9;
    transition: all .5s ease;
    /*margin-top: 20px;*/
}

.collapse-search__text {
    position: relative;
    color: #b5b5b5;
}

.collapse-search__text:after {
    content: 'Свернуть поиск';
}

.collapse-search.passive .collapse-search__text {
    color: #333333;
}

.collapse-search.passive .collapse-search__text:after {
    content: 'Развернуть поиск';
}


.collapse-search__icon {
    float: right;
}

.collapse-search:hover {
    color: #333333;
}

.requests-index .svg-qst {
    padding-right: 5px;
}

.requests-index .well.operators p span {
    color: #957da2;
}


.trademark-block {
    box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.03);
}

.trademark-item {
    position: relative;
}

.trademark-view-left-btn {
    position: absolute;
    bottom: 12px;
    left: 38%;
    z-index: 3000;
}

.trademark-view {
    padding: 30px;
    padding-bottom: 60px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    background-color: #fff;
    height: 460px;
    overflow-y: auto;
    outline: none;
}

.trademark-view:active, .trademark-view:focus {
    outline: none !important;
}

.trademark-view-left {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: translateX(-110%);
    z-index: 2000;
}

.trademark-view-left-active {
    transform: translateX(0%);
}

.trademark-item:nth-child(2n-1) {
    background-color: #fafafa;
}

.trademark-item__title {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.wrapper-classes {
    margin-top: 20px;
}

.wrapper-classes .classes-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-classes a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.wrapper-classes .half-hide {
    height: auto;
    overflow: auto !important;
}

.trademark-item .address-title, .trademark-item .trademark-inner-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #b5b5b5;
    text-transform: uppercase;
}

.trademark-item .address-title {
    margin-bottom: 15px;
}

.trademark-item .address-title span {
    display: block;
    font-weight: 400;
}

.user-info {
    display: none;
}

@media (max-width: 500px) {

    .navbar-brand > img {
        width: 70%;
    }

    .requests-index .buttons {
        position: static;
    }

    #request-form .form-control, #patent-form .form-control {
        padding-right: 12px;
    }

    .form-group-wrapper {
        border-radius: 4px;
        border: 2px solid #e9e9e9;
        background-color: #f8f8f8 !important;
        padding-left: 3px;
        padding-right: 3px;
    }

    #request-form .form-control, #patent-form .form-control {
        border: none;
    }

    #add-to-track {
        width: 100%;
    }

    .btn-violet, .btn-lime-green {
        width: 100%;
        margin-bottom: 4px;
    }

    .navbar-inverse .navbar-toggle {
        border: 1px solid transparent;
        margin-top: 11px;
    }

    .navbar-toggle .icon-bar {
        height: 1px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 6px;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        /*background-color: #8c7399;*/
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none;
        box-shadow: none;
    }

    .requests-index h1 {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .under_constuction {
        margin-bottom: 20px;
    }

    .btn-violet, .btn-lime-green {
        height: auto;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    #request-form .form-control {
        height: 54px;
    }

    .common-row {
        padding: 20px;
    }

    .requests-index .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0;
    }

    .collapse-search {
        display: block;
    }

    .requests-index .instr {
        float: none;
    }

    .requests-index code {
        text-align: left;
        margin-bottom: 20px;
        display: none;
    }

    .svg-qst {
        padding-right: 5px;
    }

    .label-common {
        padding-right: 0 !important;
    }

    .requests-index .collapse-btn {
        display: block;
        margin-bottom: 5px;
    }

    #request-form .radio {
        display: block;
    }

    #request-form .radio label {
        display: flex;
        justify-content: flex-start;
    }

    #request-form .radio label .label {
        flex-shrink: 10;
        text-align: left;
    }

    .class-list .classes {
        width: 100%;
    }

    .colors-list .colors, .colors-list .colors .value {
        width: 100%;
    }

    .colors-list .colors {
        margin-bottom: 15px;
    }

    .form-group.status #requestsearch-status {
        margin-left: -15px;
    }

    .notice-bell-link {
        display: block;
        float: left;
        margin-top: 13px;
    }

    .navbar-header {
        position: relative;
    }

    .tarif-link {
        float: left;
        width: 28px;
        height: 28px;
        margin: 12px 0 0 33px;
        background: url(../images/tarif-icon.svg) no-repeat;
    }

    .tarif-info {
        display: none;
        position: absolute;
        top: 54px;
        left: 175px;
        background-color: #e8c126;
        padding: 10px 16px 12px 16px;
        color: #fff;
        text-align: center;
        z-index: 10090;
        box-shadow: -3px 6px 16px rgba(0, 0, 0, 0.13);
    }

    .tarif-info:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -8px;
        left: 43px;
        border-top: 8px solid #e8c126;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        transform: rotate(180deg);
    }

    .tarif-info.active {
        display: block;
    }

    .tarif-info span {
        display: block;
    }

    .tarif-info span:first-child {
        font-size: 13px;
    }

    .tarif-info span.date {
        font-size: 10px;
    }

    /*.login-link {
        float: left;
        width: 20px;
        height: 23px;
        margin: 16px 0 0 26px;
        background: url(../images/user-info-icon.svg) no-repeat;
    }*/

    .nav > li.tariff {
        display: none !important;
    }

    .under_constuction {
        background: #999;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff !important;
        font-size: 15px;
        font-weight: 300;
        opacity: .9;
    }

    .navbar-collapse .dropdown .btn.btn-secondary {
        background-color: #957da2 !important;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        opacity: .9;
        padding-left: 25px;
    }

    /*.dropdown:last-child {
        display: none;
    }*/

    /*.user-info {
        position: absolute;
        display: none;
        box-shadow: -3px 6px 16px rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
        padding: 20px 0;
        top: 54px;
        left: 125px;
        z-index: 200;
    }

    .user-info.active {
        display: block;
    }

    .user-info ul {
        padding: 0;
        margin: 0;
    }

    .user-info li {
        list-style: none;
    }

    .user-info .btn.btn-secondary {
        background-color: transparent;
        padding: 0;
        color: #d35b1f;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        padding: 5px 30px;
    }

    .user-info li a {
        display: block;
        color: #957da2;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        padding: 5px 30px;
    }

    .user-info li a:focus, .user-info li a:hover {
        outline: none;
        text-decoration: none;
        background-color: #f8f8f8;
    }

    .user-info .divider {
        display: none;
    }*/


    .slick-dots li button:before {
        font-size: 60px;
        color: #957da2;
    }

    .slick-dots li.slick-active button:before {
        color: #957da2;
        opacity: 1;
    }

    .tags-wrap {
        display: none;
    }

    .trademark-item__status {
        color: #333;
        border-radius: 4px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .trademark-item__status.success {
        background: #f1f9ea;
    }
    .trademark-item__status.danger {
        background: #fff3f3;
    }

    .trademark-item .fips {
        margin-top: 20px;
    }

    .fips .fips-title {
        color: #b5b5b5;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .trademark-item .fips a {
        color: #957da2;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        position: relative;
    }

    .trademark-item .fips a:after {
        content: "";
        width: 14px;
        height: 14px;
        background: url(/images/linksign_.png) no-repeat;
        position: relative;
        display: inline-block;
        right: auto;
        top: -1px;
        left: 4px;
    }

    .trademark-item .show-trigger {
        position: relative;
        display: none;
    }

    .page-size-limit {
        display: none;
    }

    .slick-slide img {
        margin: 30px auto 20px !important;
    }

    .trademark-item__dates {
        color: #b5b5b5;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .trademark-item__dates .link-wrapper {
        color: #957da2;
        text-decoration: none;
        position: relative;
    }

    .trademark-item__dates .link-wrapper:after {
        content: "";
        width: 14px;
        height: 14px;
        background: url(/images/linksign_.png) no-repeat;
        position: relative;
        display: inline-block;
        right: auto;
        top: -1px;
        left: 4px;
    }

    .trademark-view-right a {
        display: block;
        color: #957da2;
    }

    .trademark-view .btn.add-item {
        border-radius: 4px;
        background-color: #a0d56c;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 9px 26px;
        border: none;
        outline: none;
    }

    .trademark-view .btn.btn-default.js-wrong_tags {
        border-radius: 4px;
        background-color: #625b66;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 9px 23px;
        border: none;
        outline: none;
    }

    .requests-index table .rez-logo {
        min-height: 100px;
    }

    .requests-index table .rez-logo img {
        width: 100%;
        height: auto;
    }

    .slick-dots {
        bottom: -29px !important;
        padding-left: 30px;
        background: #fff;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 30px;
    }

    .slick-dots li {
        z-index: 2999;
    }

}
