*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	/*    line-height: 22px;*/
	font-weight: 300;
	color: #6a6a6a;
}

a {
	text-decoration: none;
}

.container {
	/* width: 1200px; */
	width: 79%;
	margin: 0 auto;
}

.common-section {
	text-align: center;
	padding: 80px 0;
}

.common-text {
	color: #6a6a6a;
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 22px;
	font-weight: 300;
	max-width: 50%;
	margin: 0 auto;
}

.subscription .common-text {
	max-width: 65%;
}

.common-title-white {
	position: relative;
	color: #fefeff;
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 30px;
	margin-top: 130px;
}

.common-title-black {
	color: #000000;
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 23px;
}

.after-title-figure {
	width: 186px;
	height: 15px;
	background: url(/images//after_title_figure.png) no-repeat;
	margin: 0 auto 35px auto;
}

.after-title-figure-purple {
	width: 186px;
	height: 15px;
	background: url(/images//after_title_figure_purple.png) no-repeat;
	margin: 0 auto 35px auto;
}

.responsive {
	max-width: 100%;
	height: auto;
}

.main {
	position: relative;
	height: 100vh;
	min-height: 600px;
	background: url(/images//main_bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.main:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: #957da2;
	background-image: -webkit-linear-gradient(282deg, rgba(115, 106, 120, 0.85) 0%, rgba(149, 125, 162, 0.75) 100%);
	background-image: -o-linear-gradient(282deg, rgba(115, 106, 120, 0.85) 0%, rgba(149, 125, 162, 0.75) 100%);
	background-image: linear-gradient(12deg, rgba(115, 106, 120, 0.85) 0%, rgba(149, 125, 162, 0.75) 100%);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1200;
}

.fix {
	box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.06);
	background: rgba(149, 125, 162, .85);
}

.header.fix .header-wrapper {
	padding-top: 10px;
}

.header.fix .separator-line {
	margin-top: 10px;
}

.header-wrapper {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	-webkit-transition: padding-top 0.3s;
	-moz-transition: padding-top 0.3s;
	transition: padding-top 0.3s
}

.header__logo {
	display: block;
	z-index: 4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header__menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header__menu ul li {
	list-style: none;
	margin-right: 48px;
}

.registration-btn {
	margin-right: 0;
}

.header__menu ul li a {
	position: relative;
	z-index: 5;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.m-menu-link {
	display: none;
	background: url(/images//menu-btn.png) no-repeat;
	width: 18px;
	height: 16px;
	position: relative;
	top: 5px;
}

/*.m-menu {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 3rem;
	line-height: 6rem;
	align-items: center;
	justify-content: center;
	background-color: #957da2;
	z-index: 9999;
	margin: 0;
	color: #fff;
	display: none;
}*/

/*.m-menu {
	text-align: center;
}*/

.m-menu li {
	list-style: none;
	margin: 0;
	padding: 25px;
}

.m-menu li a {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	line-height: .5;
}

/*#animatedModal3 {
	display: none;
}*/

.registration-btn a {
	padding: 14px 20px;
	border-radius: 4px;
	background-color: rgba(	232, 193, 38, 1);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	transition: background-color 0.5s ease;
}

.registration-btn a:hover {
	background-color: #f0cb38;
}

.separator-line {
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.5;
	margin: 25px 0 0 0;
	-webkit-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
	transition: margin 0.3s;
}

.main-content {
	padding: 100px 0 20px 0;
	text-align: center;
	position: relative;
	z-index: 6;
}

.main-content-description {
	color: #fefeff;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 65px;
	min-height: 20px;
}

.main-form {
	position: relative;
}

.input-wrapper {
	margin-left: 130px;
}

.main-form input {
	/* width: 737px; */
	width: 70%;
	height: 61px;
	border-radius: 4px;
	background-color: #ffffff;
	border: none;
	color: #6a6a6a;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	padding-left: 20px;
	padding-right: 150px;
	outline: none;
}

.main-form button {
	position: relative;
	left: -135px;
	top: 0px;
	height: 57px;
	border-radius: 4px;
	background-color: rgba(160, 213, 108, 1);
	padding: 20px 24px 22px 52px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.main-form button:hover {
	background-color: #97cd61;
}

.main-form button:before {
	position: absolute;
	content: '';
	left: 26px;
	top: 22px;
	width: 18px;
	height: 18px;
	background: url(/images//search-icon.png) no-repeat;
	cursor: pointer;
}

.search-info {
	color: #dbd7e4;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
	margin: 19px 0 60px 0;
}

.mouse-link {
	display: block;
	width: 26px;
	height: 46px;
	background: url(/images//mouse-link.png) no-repeat;
	margin: 0 auto;
}

.about-service {
	border-bottom: 1px solid #e4e4e4;
	background: url(/images//web-page.png) no-repeat;
	background-position: -32px 101px;
	background-size: 33%;
}

.free-list {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 45px;
	margin-left: 45px;
	margin-bottom: 100px;
}

.free-list__block {
	display: block;
	max-width: 319px;
	height: 290px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	padding-top: 40px;
	transition: all 0.5s ease;
}


.free-list__block:hover {
	box-shadow: -6px 11px 21px rgba(0, 0, 0, 0.06);
	border: 1px solid #957da2;
}

.free-list__icon {
	margin-bottom: 30px;
}

.free-list__title {
	max-width: 200px;
	color: #000000;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto 18px auto;
}

.free-list__text {
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 300;
	max-width: 70%;
	margin: 0 auto;
	line-height: 18px;
}

.free-list__block2 {
	position: relative;
	top: 20px;
	left: -30px;
}

.free-list__block3 {
	position: relative;
	top: 40px;
	left: -60px;
}

.free-list__block4 {
	position: relative;
	top: 60px;
	left: -90px;
}

.advantages-for-pay {
	position: relative;
	background: #f8f8f8;
}


.advantages-for-pay .common-text {
	margin-bottom: 50px;
}

.advantages-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.advantages-list__left {
	text-align: left;
}

.advantages-list__right {
	text-align: right;
}

.advantages-list__item {
	position: relative;
	max-width: 300px;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding-bottom: 55px;
}

.advantages-list__left .advantages-list__item:before, .advantages-list__right .advantages-list__item:after {
	position: absolute;
	content: '';
	width: 57px;
	height: 57px;
	top: 0;
}

.advantages-list__left .advantages-list__item {
	padding-left: 88px;
}

.advantages-list__left .advantages-list__item:before {
	left: 0;
}

.advantages-list__right .advantages-list__item {
	padding-right: 88px;
}

.advantages-list__right .advantages-list__item:after {
	right: 0;
}

.advantages-list__item1:before {
	background: url(/images//adv-icon1.png) no-repeat;
}

.advantages-list__item2:before {
	background: url(/images//adv-icon2.png) no-repeat;
}

.advantages-list__item3:before {
	background: url(/images//adv-icon3.png) no-repeat;
}

.advantages-list__item4:before {
	background: url(/images//adv-icon4.png) no-repeat;
}

.advantages-list__item5:after {
	background: url(/images//adv-icon5.png) no-repeat;
}

.advantages-list__item6:after {
	background: url(/images//adv-icon6.png) no-repeat;
}

.advantages-list__item7:after {
	background: url(/images//adv-icon7.png) no-repeat;
}

.advantages-list__item8 {
	line-height: 22px;
	z-index: 400;
}

.advantages-list__item8 .dashed-text {
	border-bottom: 1px dashed #957da2;
	transition: all 0.5s ease;
	color: #957da2;
	cursor: pointer;
}

.advantages-list__item8:hover .dashed-text {
	color: #a0d56c;
	border-bottom: 1px dashed #a0d56c;
}

.advantages-list__item8:after {
	background: url(/images//adv-icon8b.png) no-repeat;
}

.advantages-list-img {
	position: absolute;
	bottom: -11%;
	left: 15%;
	/*background: url(/images//adv-pages-all.png) no-repeat;*/
}

.advantages-tooltip {
	display: none;
	position: absolute;
	right: 235px;
	bottom: 165px;
	width: 328px;
	/* height: 157px; */
	box-shadow: -6px 11px 21px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	background-color: #ffffff;
	padding: 25px;
	z-index: 300;
}

.advantages-tooltip.active {
	display: block;
	z-index: 500;
}

.advantages-tooltip:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	bottom: -8px;
	right: 17px;
	border-top: 8px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.tooltip-text {
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 17px;
	line-height: 21px;
}

.advantages-tooltip textarea {
	width: 277px;
	height: 43px;
	border-radius: 4px;
	border: 1px solid #ebebeb;
	background-color: #f8f8f8;
	outline: none;
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 300;
	padding-left: 16px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 21px;
}

.advantages-tooltip .form-wrapper {
	position: relative;
}

.advantages-tooltip button {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	background: url(/images//greens-ok-big.png) no-repeat;
	background-position: 0 0;
	right: 9px;
	bottom: 13px;
	border: none;
	outline: none;
	cursor: pointer;
	/* -webkit-transition: background-position 0.5s;
     -moz-transition: background-position 0.5s;
     transition: background-position 0.5s;*/
}

.advantages-tooltip button:hover {
	background-position: 0 -24px;
}

.qst-icon {
	position: relative;
	top: -2px;
	width: 16px;
	height: 16px;
	background: url(/images//qst-icon.png) no-repeat;
	padding-left: 20px;
	margin-left: 5px;
	cursor: pointer;
}

.opportunities {
	padding: 80px 0 40px 0;
}

.opportunities-list {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: left;
	margin-top: 45px;
}

.opportunities-list__block {
	width: 366px;
	min-height: 420px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	padding: 30px 0;
}

.opportunities-list__title {
	/* font-size: 30px; */
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	padding-left: 25px;
	margin-bottom: 10px;
}

.opportunities-list__block1 .opportunities-list__title {
	color: #957da2;
}

.opportunities-list__block2 .opportunities-list__title {
	color: #e8c126;
}

.opportunities-list__block3 .opportunities-list__title {
	color: #a0d56c;
}

.opportunities-list__payment {
	color: #6a6a6a;
	font-size: 17px;
	line-height: 22px;
	font-weight: 300;
	padding-left: 25px;
}

.opportunities-list__payment .old-price {
	text-decoration: line-through;
	padding-right: 5px;
}

.opportunities-list__payment .new-price {
	font-weight: 600;
}

.opportunities-list__line {
	width: 150px;
	height: 1px;
	opacity: 0.5;
	margin: 30px 0;
}

.opportunities-list__block1 .opportunities-list__line {
	background-color: #957da2;
}

.opportunities-list__block2 .opportunities-list__line {
	background-color: #e8c126;
}
.opportunities-list__block3 .opportunities-list__line {
	background-color: #a0d56c;
}

.opportunities-list__items {
	padding-left: 25px;
	padding-right: 30px;
}

.opportunities-list__item {
	position: relative;
	color: #000000;
	font-size: 13px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-left: 25px;
}

.opportunities-list__item:before {
	position: absolute;
	content: "";
	width: 18px;
	height: 17px;
	left: 0;
}

.opportunities-list__block1 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: 0 0;
}

.opportunities-list__block2 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -18px 0px;
}

.opportunities-list__block3 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -38px 0;
}

.opportunities-list__link-wrapper {
	padding-left: 50px;
}

.opportunities-list__link {
	display: inline-block;

	color: #957da2;
	font-size: 17px;
	line-height: 22px;
	font-weight: 400;
	border-bottom: 1px dashed #957da2;
	transition: all 0.5s ease;
}

.opportunities-list__link:hover {
	color: #a0d56c;
	border-bottom: 1px dashed #a0d56c;
}

.opportunities-list__block3 {
	position: relative;
	z-index: 10;
}

.opportunities-list__block2 {
	position: relative;
	top: 20px;
	right: -30px;
	z-index: 9;
}

.opportunities-list__block1 {
	position: relative;
	top: 40px;
	right: -60px;
	z-index: 8;
}

.opportunities-list__community {
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
	padding-left: 25px;
	margin-bottom: 20px;
}

.opportunities-list__block2 .opportunities-list__community span {
	color: #957da2;
	font-weight: 400;
}

.opportunities-list__block3 .opportunities-list__community span {
	color: #e8c126;
	font-weight: 400;
}

.opportunities-list__block3 .opportunities-list__items {
	margin-bottom: 15px;
}

.online-consultations {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	border-radius: 4px;
	background-color: rgba(160, 213, 108, 1);
	padding: 12px;
	margin-top: 5px;
}

.subscription .common-text a {
	color: #957da2;
	border-bottom: 1px dashed #957da2;
}

.subscription .common-text a:hover {
	color: #a0d56c;
	border-bottom: 1px dashed #a0d56c;
}

.subscription-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 45px;
	margin-bottom: 110px;
}

.subscription-list__block {
	position: relative;
	width: 319px;
	height: 158px;
	padding-top: 25px;
	text-align: center;
}

.subscription-list__block1 {
	background-color: #ac9bb5;
	top: 40px;
	right: -60px;
}
.subscription-list__block:hover,
.subscription-list__block.selected {
	background: #a0d56c;
}
.subscription-list__block {
	cursor: pointer;
}

.subscription-list__block2 {
	background-color: #957da2;
	top: 20px;
	right: -30px;
}

.subscription-list__block3 {
	background-color: #836e8f;
}

.subscription-list__amount {
	color: #ffffff;
	font-size: 30px;
	line-height: 34px;
	font-weight: 400;
	margin-bottom: 5px;
}

.subscription-list__amount-old {
	text-decoration: line-through;
	font-size: 20px;
}

.subscription-list__text {
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
}

.subscription-list__line {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 150px;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.5;
}

.subscription-list__hit {
	position: absolute;
	top: -7px;
	left: -26px;
	width: 0;
	height: 0;
	border-top: 40px solid #e8c126;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.subscription-list__block2 .hit-text {
	position: absolute;
	top: 10px;
	left: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.96px;
	text-transform: uppercase;
}

.green-btn {
	display: block;
	width: 250px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border-radius: 4px;
	background-color: rgba(160, 213, 108, 1);
	padding: 17px 45px;
	transition: all 0.5s ease;
}

.subscription .green-btn {
	margin-top: 45px;
}

.green-btn:hover {
	background-color: #97cd61;
}

.dispatch {
	background: #f8f8f8 url(/images//dispatch-bg.png) no-repeat;
	background-position: center bottom;
}

.dispatch-form {
	margin-top: 30px;
}

.dispatch-form .input-wrapper {
	position: relative;
	margin-left: 163px;
}

.dispatch-form input {
	position: relative;
	width: 626px;
	height: 60px;
	border-radius: 4px;
	border: 2px solid #957da2;
	padding-right: 183px;
	position: relative;
	color: #000000;
	font-size: 17px;
	font-weight: 300;
	line-height: 18px;
	outline: none;
	padding-left: 50px;
	background: #ffffff url(/images//letter-icon.png) no-repeat;
	background-position: 20px center;
}

.dispatch-form button {
	position: relative;
	left: -167px;
	top: -1px;
	width: 163px;
	height: 50px;
	border-radius: 4px;
	background-color: #a0d56c;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgba(160, 213, 108, 1);
	transition: all 0.5s ease;
}

.dispatch-form button:hover {
	background-color: #97cd61;
}

footer {
	padding: 28px 0;
	background-color: #625b66;
}

.footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #9f97a3;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.footer a {
	color: #fff;
}

.footer-item {
	padding-top: 10px;
}

.active-media {
	padding: 0 5px;
}

.modal-content  {
	color: #fefeff;
	padding-bottom: 30px;
}

.modal-content .modal-title {
	color: #000000;
	font-size: 40px;
	font-weight: 300;
	padding-bottom: 23px;
	color: #fefeff;
	text-align: center;
}

.close-modal {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 40px 0;
	z-index: 1000
}

.close-modal img {
	transition: all 0.2s;
	cursor: pointer;
}

.close-modal:hover img {
	transform: rotate(90deg);
}

.modal-content b {
	font-weight: 600;
	line-height: 22px;
}

.modal-content .modal-title-inner {
	color: #000000;
	font-size: 30px;
	font-weight: 300;
	margin: 20px 0;
	color: #fefeff;
}

.modal-content ol li {
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 23px;
	font-weight: 300;
}

.modal-content ol li b {
	display: block;
	margin: 15px 0;
}

.modal-content ol li br {
	display: none;
}

.main .wow-content, .main .main-form, .main .mouse-link {
	display: none;
}

.active {
	display: block !important;
}

.developer.footer-item, .developer.footer-item a {
	font-size: 12px;
}

.footer-item a {
	color: #a0d56c;
	text-shadow: none;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.footer-item a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.footer-item a:hover::before,
.footer-item a:focus::before {
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	transform: scale(.6);
	opacity: 0;
}

.registration-btn-small-free {
	display: none;
}

.opportunities-widget {
	display: none;
	margin: 20px 0 0 0;
}

.opportunities-widget__line-wrapper {
	min-width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: 10px;
}

.opportunities-widget__line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow-x: scroll;
	overflow-y: hidden;
}

.opportunities-widget__block {
	text-align: left;
	padding-bottom: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 3%;
}

.opportunities-widget__block.active {
	background: #f8f8f8;
}

.opportunities-widget__block1.active {
	border-top: 2px solid #957da2;
}

.opportunities-widget__block2.active {
	border-top: 2px solid #DE9E52;
}

.opportunities-widget__block3.active {
	border-top: 2px solid #91CE7B;
}

.opportunities-widget__block.active .opportunities-widget__title {
	font-weight: 600;
}

.opportunities-widget__info {
	text-align: left;
	padding: 10px;
}

.wrapper-items .opportunities-list__item {
	font-weight: 300;
	line-height: normal;
	font-size: 14px;
	line-height: 18px;
	color: #BABABA;
	text-align: left;
}

.wrapper-items1 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: 0 0;
}

.wrapper-items2.active .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -18px 0px;
	filter: grayscale(0%);
}

.wrapper-items3.active .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -38px 0;
	filter: grayscale(0%);
}

.wrapper-items2 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -18px 0px;
	filter: grayscale(100%);
}

.wrapper-items3 .opportunities-list__item:before {
	background: url(/images//icons-ok.png) no-repeat;
	background-position: -38px 0;
	filter: grayscale(100%);
}

.wrapper-items3.active .online-consultations {
	filter: grayscale(0%);
}

.wrapper-items.active .opportunities-list__item {
	color: #6a6a6a;
}

.opportunities-widget__title {
	white-space: nowrap;
	color: #957da2;
	font-size: 18px;
	line-height:26px;
	margin-right: 25px;
}

.opportunities-widget__block2 .opportunities-widget__title {
	color: #DE9E52;
}

.opportunities-widget__block3 .opportunities-widget__title {
	color: #91CE7B;
}

.opportunities-widget__payment {
	white-space: nowrap;
	color: #6a6a6a;
	font-weight: 300;
	margin: 0px 0 10px 0;
	font-size: 14px;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px !important;
	height: 1px;
}

::-webkit-scrollbar-thumb {
	width: 7px;
	background-color: #BABABA;
}